<!--Instalacion de Boostrap-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--Código de la pagina-->


<body>
  <nav class="navbar navbar-dark bg-dark">  
    <a href="/" class="navbar-brand">Operaciones basicas con Angular</a>
  </nav>
  
  
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <!--Listado de empleados-->
        <ul class="list-group mt-4">
          <li *ngFor="let emp of empleadoArray" class="list-group-item" id="listado" (click)="abrirEdit(emp)" [class.active]="emp == selectEmpleado">
            <span class="badge badge-primary">{{ emp.id}}</span> {{ emp.nombre}} -> {{ emp.puesto}}
              
          </li>
        </ul>

        <div class="card mt-4">
          <div class="card-body">
            <div class="card-title">Inserta un nuevo dato...</div>
              <!--Insertado de datos-->
              <!--Nombre-->
              <div class="form-group">
                Nombre:
                <input type="text" [(ngModel)]="selectEmpleado.nombre" class="form-control" >
              </div>
              <!--Pais-->
              <div class="form-group">
                Pais:
                <input type="text" [(ngModel)]="selectEmpleado.pais" class="form-control" >
              </div>
              <!--Puesto-->
              <div class="form-group">
                Puesto:
                <input type="text" [(ngModel)]="selectEmpleado.puesto" class="form-control" >
              </div>
              <!--Boton-->
              <button (click)="agregar_editar()" class="btn btn-primary">Enviar</button>
              <button (click)="eliminar()" *ngIf="selectEmpleado.id !== 0" class="btn btn-danger" id="btnEliminar">Eliminar</button>
          </div>
        </div>


        <div class="col-md-4">
          <!--Imagen-->
          <img alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="/>
        </div>
      </div>
    </div>
  </div>
</body>




  

  
  